<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willkommen</title>
</head>
<body>
    <img src="cid:logo" alt="logo" style="height: 40px; display: block; margin: 0 auto;">
    <p>Dear {{username}},</p>
    <p>Thank you for registering with Videoflix.
        To complete your registration and verify your email address,
        please click the link below:</p>
    <div style="
        background: #2E3EDF;
        padding: 8px 12px;
        border-radius: 40px;
        display: flex;
        gap: 4x;
        max-width: fit-content;
    ">
        <a href="{{confirmation_link}}" style="color: white; text-decoration: none;"><b>Activate account</b></a>
    </div>
    <p>If you did not create an account with us, please disregard this email.<br></p>
    <p>Best regards,<br></p>
    <p>Your Videoflix Team.</p>
</body>
</html>